.emotion1  {
    position: absolute;
    width: calc(100% - 16px);
    margin: 8px;
  }
  .emotion1.muuri-item-releasing {
    z-index: 9998;
  }
  .emotion1.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
  }
  .emotion1.muuri-item-hidden {
    z-index: 0;
  }